<div *ngIf="backendDown" class="w-full bg-red-600 text-white text-xs font-bold py-2 px-4">
  {{ backendMsg || 'Backend no disponible. Verifica el servidor.' }}
  <span class="opacity-75">http://localhost:4000/api</span>
</div>

@if (showNavbar) {
  <app-navbar #miNav></app-navbar>

  <main 
    [class.ml-72]="miNav.isOpen" 
    [class.ml-20]="!miNav.isOpen" 
    class="transition-all duration-300 min-h-screen bg-[#f8f7ff]">
    <div class="p-8">
      <router-outlet></router-outlet>
    </div>
  </main>
} @else {
  <main class="w-full min-h-screen m-0 p-0 overflow-hidden">
    <router-outlet></router-outlet>
  </main>
}